image: node:20-bullseye
stages:
  - test
  - stage
  - prod

.build:
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint: [""]
  script:
    - echo "{\"credHelpers\":{\"${ECR}\":\"ecr-login\"},\"auths\":{\"https://index.docker.io/v1/\":{\"auth\":\"${DOCKER_HUB_BASE64}\"}}}" > /kaniko/.docker/config.json
    - /kaniko/executor
      --context $CI_PROJECT_DIR
      --dockerfile ${CI_PROJECT_DIR}/Dockerfile
      --destination ${DESTINATION}
      --build-arg VERSION=$CI_PIPELINE_IID

docker-test:
  extends: .build
  rules:
    - if: $CI_COMMIT_BRANCH != $CI_DEFAULT_BRANCH
  stage: test
  variables:
    DESTINATION: 696398453447.dkr.ecr.us-west-2.amazonaws.com/es-erp-stage:mr-${CI_COMMIT_REF_NAME}-${CI_PIPELINE_IID}

depcheck:
  rules:
    - if: $CI_COMMIT_BRANCH != $CI_DEFAULT_BRANCH
  stage: test
  cache:
    key:
      files:
        - package-lock.json
    paths:
      - node_modules/
      - node_modules/.cache/
  script:
    - npm install --force
    - npm i -g depcheck
    - npm run codegen
    - npm run test:depcheck

prettier_check:
  rules:
    - if: $CI_COMMIT_BRANCH != $CI_DEFAULT_BRANCH
  stage: test
  cache:
    key:
      files:
        - package-lock.json
    paths:
      - node_modules/
      - node_modules/.cache/
  script:
    - npm install --force
    - npm run codegen
    - npm run prettier:check

playwright:
  image: mcr.microsoft.com/playwright:v1.52.0-noble
  stage: test
  parallel: 3
  rules:
    - if: $CI_COMMIT_BRANCH != $CI_DEFAULT_BRANCH
  cache:
    key:
      files:
        - package-lock.json
    paths:
      - node_modules/
      - node_modules/.cache/
  script:
    - echo "Node Index - $CI_NODE_INDEX"
    - echo "Total Nodes - $CI_NODE_TOTAL"
    - npm install --force
    - npm run codegen
    - npm run test:playwright -- --shard=$CI_NODE_INDEX/$CI_NODE_TOTAL
  artifacts:
    expire_in: 1 week
    when: always
    paths:
      - ./playwright-report/
      - ./test-results/
# codex_review:
#   image: node:22-bullseye
#   stage: test
#   allow_failure: true
#   rules:
#     - if: $CI_COMMIT_BRANCH != $CI_DEFAULT_BRANCH
#   variables:
#     GIT_DEPTH: 0
#   cache:
#     key:
#       files:
#         - package-lock.json
#     paths:
#       - node_modules/
#       - node_modules/.cache/
#   script:
#     - npm install -g @openai/codex
#     - npm install --force
#     - npm run codegen
#     - npm i ts-node-dev
#     - npm run codex:codereview
#     - npx ts-node-dev ./scripts/mr-comment.ts

deploy-staging:
  extends: .build
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  stage: stage
  variables:
    DESTINATION: 696398453447.dkr.ecr.us-west-2.amazonaws.com/es-erp-stage:v${CI_PIPELINE_IID}
deploy-production:
  extends: .build
  when: manual
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  stage: prod
  variables:
    DESTINATION: 696398453447.dkr.ecr.us-west-2.amazonaws.com/es-erp-prod:v${CI_PIPELINE_IID}
