image: node:20-bullseye
stages:
  - test
  - stage
  - prod

.build:
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint: [""]
  script:
    - echo "{\"credHelpers\":{\"${ECR}\":\"ecr-login\"},\"auths\":{\"https://index.docker.io/v1/\":{\"auth\":\"${DOCKER_HUB_BASE64}\"}}}" > /kaniko/.docker/config.json
    - /kaniko/executor
      --context $CI_PROJECT_DIR
      --dockerfile ${CI_PROJECT_DIR}/Dockerfile
      --destination ${DESTINATION}
      --build-arg VERSION=$CI_PIPELINE_IID

docker-test:
  extends: .build
  rules:
    - if: $CI_COMMIT_BRANCH != $CI_DEFAULT_BRANCH
  stage: test
  variables:
    DESTINATION: 696398453447.dkr.ecr.us-west-2.amazonaws.com/es-erp-stage:mr-${CI_COMMIT_REF_NAME}-${CI_PIPELINE_IID}

tests:
  rules:
    - if: $CI_COMMIT_BRANCH != $CI_DEFAULT_BRANCH
  stage: test
  script:
    - npm install --force
    - npm run codegen
    - npm i -g depcheck
    - npm run test:depcheck
    - npm run prettier:check

playwright:
  image: mcr.microsoft.com/playwright:v1.52.0-noble
  stage: test
  parallel: 3
  rules:
    - if: $CI_COMMIT_BRANCH != $CI_DEFAULT_BRANCH
  script:
    - echo "Node Index - $CI_NODE_INDEX"
    - echo "Total Nodes - $CI_NODE_TOTAL"
    - npm install --force
    - npm run codegen
    - npm run test:playwright -- --shard=$CI_NODE_INDEX/$CI_NODE_TOTAL
  artifacts:
    expire_in: 1 week
    when: always
    paths:
      - ./playwright-report/
      - ./test-results/

codex_review:
  image: node:22-bullseye
  stage: test
  retry:
    max: 2
    when:
      - job_execution_timeout
      - runner_system_failure
      - stuck_or_timeout_failure
  script:
    - npm install -g @openai/codex
    - npm install --force
    - npm run codegen
    - timeout 5m npm run codex:codereview
    - export COMMENT_BODY=$(jq -Rs . < review.md)
    # Update existing comment or post new one
    - |
      curl --request POST \
      --header "PRIVATE-TOKEN: $GITLAB_TOKEN" \
      --header "Content-Type: application/json" \
      --data "{\"body\":$COMMENT_BODY}" \
      "$CI_API_V4_URL/projects/$CI_PROJECT_ID/merge_requests/$CI_MERGE_REQUEST_IID/notes"
  only:
    - merge_requests
  variables:
    GIT_DEPTH: 0

deploy-staging:
  extends: .build
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  stage: stage
  variables:
    DESTINATION: 696398453447.dkr.ecr.us-west-2.amazonaws.com/es-erp-stage:v${CI_PIPELINE_IID}
deploy-production:
  extends: .build
  when: manual
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  stage: prod
  variables:
    DESTINATION: 696398453447.dkr.ecr.us-west-2.amazonaws.com/es-erp-prod:v${CI_PIPELINE_IID}
