html,
body {
  max-width: 100vw;
  height: 100%;
  max-height: 100%;
  overflow-x: hidden;
  overscroll-behavior: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
