.react-resizable-handle-e {
  background-color: #efefef;
  width: 0px !important;
  transform: rotate(0deg) !important;
  overflow: hidden;
  padding: 0px !important;
  border-left: 2px solid #efefef;
}

.react-resizable-handle-e::after {
  display: none !important;
}

.react-grid-placeholder {
  background: rgba(
    230,
    244,
    255,
    0.5
  ) !important; /* Change to blue with transparency */
  opacity: 1 !important;
  border-radius: 5px; /* Optional: adds rounded corners */
}

.react-grid-item {
  transition: none !important; /* Disable animations */
}
