name: CI

on:
  push:
  pull_request:

jobs:
  tests:
    name: Run tests
    if: ${{ (github.event_name == 'push' && github.ref != 'refs/heads/main') ||
      (github.event_name == 'pull_request' && github.head_ref != 'main') }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install dependencies
        run: npm install --force

      - name: Generate GraphQL code
        run: npm run codegen

      - name: Install depcheck
        run: npm install -g depcheck

      - name: Run depcheck
        run: npm run test:depcheck

      - name: Run prettier check
        run: npm run prettier:check
