name: Release Notes

on:
  push:
    branches:
      - main
permissions:
  contents: read

jobs:
  generate:
    # if: startsWith(github.ref, 'refs/tags/v')
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          ref: ${{ github.ref }}

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: "npm"

      - name: Codex generate change message
        run: |
          npm install -g @openai/codex
          export OPENAI_API_KEY="${{ secrets.OPENAI_API_KEY }}"
          CODEX_QUIET_MODE=1 CI=1 codex -q -a auto-edit "Generate user facing release notes for the last commit, be brief. User headings User facing changes and Other changes. Use simple plain text formating with emojiis, no markdown. Include the author of the changes. Include a link to the changes like https://github.com/EquipmentShare/es-erp/commit/xxxxx. Write notes to a new file called release_note.txt"

      - name: Post to Slack
        env:
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
        run: |
          node ./scripts/slack-post.js
